@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 10%;
}
.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  color: var(--color-text);
}
/* .content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 34px;
} */
.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.skillImage {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}
.skillImage img {
  width: 60px;
}
.skill p {
  font-size: 25px;
  font-weight: 500;
  font-family: var(--font-roboto);
}
.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 100, 0) 100%);
  border-radius: 10px;
  padding: 30px;
}
.historyItem img {
  width: 100px;
}
.historyItemDetails {
  font-family: var(--font-roboto);
}
.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 7px;
}
.historyItemDetails h4 {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 7px;
}
.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-text);
  margin-bottom: 7px;
}
.historyItemDetails ul {
  margin-top: 6px;
  font-size: 22px;
  list-style: none;
  list-style-type: disc;
  margin-left: 17px;
  margin-bottom: 7px;
}
@media screen and (max-width: 1024px) {
  .skills {
    width: 100%;
    gap: 15px;
  }
  .skill {
    gap: 15px;
  }
  .skillImage {
    width: 80px;
    height: 80px;
  }
  .skillImage img {
    width: 50px;
  }
  .skill p {
    font-size: 20px;
  }
  .history {
    width: 50%;
  }
  .historyItem img {
    width: 80px;
  }
  .historyItemDetails h3 {
    font-size: 25px;
  }
  .historyItemDetails h4 {
    font-size: 20px;
  }
  .historyItemDetails p {
    font-size: 18px;
  }
  .historyItemDetails ul {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .history {
    width: 100%;
    gap: 15px;
  }
  .skillImage {
    width: 70px;
    height: 70px;
  }
  .skillImage img {
    width: 40px;
  }
  .skill p {
    font-size: 18px;
  }
  .container {
    margin-top: 40px;
  }
}
@media screen and (max-width: 425px) {
  .historyItem img {
    width: 80px;
  }
  .historyItemDetails h3 {
    font-size: 20px;
  }
  .historyItemDetails h4 {
    font-size: 18px;
  }
  .historyItemDetails p {
    font-size: 15px;
  }
  .historyItemDetails ul {
    font-size: 15px;
  }
}
